

header{
   color: #000;
}
aside{
   
    float: left;
    width: 30%;
}
main{
  
    width: 100%;
}
footer{
    clear: both;
    
}
.container{
    background-color: crimson;
    overflow: hidden;
}
.clear-fix::after{
    content: "";
    display: block;
    clear: both;
}