.box-menu{
    background-color: rgb(235, 102, 102);
    padding: 10px 40px;
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px;
}

.menu-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.chat-history{
    overflow-y: scroll;
    
}
.chat-screan{
    overflow: hidden;
}
.input-mess{
    
    width: 90%;
}