.main-container{
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;;
}

.item{
    width: 300px;
    margin: 15px;
    border: 1px solid #fff;
    box-sizing: border-box;
    position: relative;
}
.img-item-content{
    position: relative;
    width: 300px;
}
.img-item{
    width: 300px;
    height: 400px;
    object-fit: cover;

}

.price{
    position: absolute;
    top:10px;
    left: 10px;
    font-weight: 300;
    color: #9a9a9a;
}
.hiden-content{
    display: none;
    position: absolute;
    z-index: 1;
    text-align: center;
    border: 1px solid #ddd;
    box-shadow: 10px 5px 5px #ddd;
    width: 300px;
    color: #8e8c8c;
    background-color: #fff;
}

.name{
    text-transform: uppercase;
    font-size: 13px;
}

.description{
    font-size: 13px;
}

.icon-svg{
    margin: 5px;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #727272;
    
}

.icon1{
    width: 20px;
    height: 20px;
    fill: #fff;
}

.icon-svg:hover{
    background-color: #00c8c8;
}

.icons{
    display: flex;
    justify-content: center;
}

.mini-img{
    margin: 10px;
}

.mini-img-content{
    opacity: 100%;
    position: absolute;
    top: -280%;
    right: 0;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.img-item-content:hover .hiden-content {
    display: block;
}

.item:hover  {
    border-color:  #ddd;
    box-shadow: 10px 5px 5px #ddd;
    
}
.img-item:hover .mini-img-content{
    opacity: 100%;
}




