body{
    margin: 0;
}
.page-container{
    padding: 0;
    background-image: url(404-bg-image.jpg);
    
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}
.warning-text{
    color: #ffffff;
    font-size: 20px;
    line-height: 48px;
    text-align: center;
}    

.text-404{
    font-size: 209px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-404{
    margin-left: 20px;
    margin-right: 20px;
    width: 152px;
    height: 152px;
}
.link-back{
    color: #ffe600;
    text-decoration: none;
    font-style: italic;
    text-align: center;
}
.search{
    width: 570px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
}
.search::placeholder{
    color: #fff;
}
.button{
    background-color: #2a233d;
    width: 170px;
    height: 72px;
    color: #fff;
}
.link-back{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 42px;
}