@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url("./OpenSant/OpenSans-Italic.ttf") format('ttf');
    
  }
body{
    margin: 0;
    font-family: "Open Sans";
    color: #fff;
}

.page-content{
    background-image: url(pex-header-bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    

}
.header-contain{
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) ;
    
    
}
.inline{
   display: inline-block;
}
.flex{
    display: flex;
    margin: 0px;
}
.logo-text {
    justify-content: start;
    margin-left: 200px ;
    color: #e7526b;
    font-style: italic;
}
.logo-description{
    justify-content: start;
    align-self: center;
    font-size: 13px;
    font-style: italic;
}
.main-menu{
   
    justify-content: center;
    align-items: center;
    margin-right: auto;
    
}
.menu-item{
    display: flex;
    justify-content: center;
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
    font-size: 13px;
    color: #fff;
    border-bottom: 3px solid transparent;
    
}
.menu-item:hover{
    border-bottom-color: #fff;
}
.main-content{
    margin-right: 250px;
    margin-top: auto;
    margin-bottom: auto;
    flex-direction: column;
    align-items: flex-start;
    max-width: 500px;
    min-height: 100vh;

}
.down-content{
    background-color: #2e3b4e;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.caption{
    margin: 34px 0px;
    text-transform: uppercase;

}
.text{
    margin: 0;
}
.main-caption{
    font-family: "Open Sans";
    font-size: 50px;
    color: #fff;
    text-align: right;
    max-width: 500px;
}
.button{
    width: 280px;
    height: 60px;
    font-size: 18px;
    border-radius: 30px;
    background-color: #8824cd;
    color: #fff;
    margin-left: auto;
    
}
.span{
    margin-left: auto;
}
.text-box{
    margin: 33px;
    width: 400px;
}
.search{
    border-radius: 30px;
    margin-right: 200px;
    width: 220px;
    height: 44px;
    text-indent: 15px;

}
.menu-list{
    margin: 0;
}