nav{
    background-color: #000070;
  }
  .button-menu{
    color: white;
    background-color: #4527a0;
    display: inline-block;
    margin-left: -5px;
    padding: 20px;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 20px;
    
  }
  .button-menu:hover{
    background-color: #7953d2;
  }
  .button-menu:first-child{
    margin-left: 0px;
  }
  